<div id="guangchang">
	
	<div class="header">
		<div class="header_overflow">
			<ul class="header_ul">
				<li ui-sref="guangchangPage1" ></li>
				<li ui-sref="guangchangPage2" ></li>
				<li ui-sref="guangchangPage3" ></li>
				<li></li>
				<li>	</li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	<div class="header1"></div>
	<div class="swiper-container">
    		<div class="swiper-wrapper">
    		    <div class="swiper-slide"><img src="./img/lunbo1.jpeg" /></div>
   		     <div class="swiper-slide"><img src="./img/lunbo2.jpeg" /></div>
   		     <div class="swiper-slide"><img src="./img/lunbo3.jpeg" /></div>
   		</div>
    		<div class="swiper-pagination"></div>
	</div>
<!--模块导航-->
    <div class="bignav">
		<div class="bignav_nav"></div>
		<div class="bignav_nav"></div>
		<div class="bignav_nav"></div>
		<div class="bignav_nav"></div>
		<div class="bignav_nav"></div>
		<div class="bignav_nav"></div>
	</div>
	<div class="banner">
		<img class="banner_image" src="./img/chunjie.jpg" alt="" />
	</div>
	<!--图1福利导航-->
	<div class="fuli_nav">
		<div class="fuli_nav_overflow">
			<ul class="fuli_nav_ul">
				<li class="fuli_nav_li"><img class="fuli_nav_pic" src="./img/fuli.jpeg" alt="" />
				<span>春节福利套餐</span>
				<p class="fuli_nav_money">￥ 88</p></li>
				<li class="fuli_nav_li"><img class="fuli_nav_pic" src="./img/fuli.jpeg" alt="" />
				<span>春节福利套餐</span>
				<p class="fuli_nav_money">￥ 88</p></li>
				<li class="fuli_nav_li"><img class="fuli_nav_pic" src="./img/fuli.jpeg" alt="" />
				<span>春节福利套餐</span>
				<p class="fuli_nav_money">￥ 88</p></li>
				<li class="fuli_nav_li"><img class="fuli_nav_pic" src="./img/fuli.jpeg" alt="" />
				<span>春节福利套餐</span>
				<p class="fuli_nav_money">￥ 88</p></li>
				<li class="fuli_nav_li"><img class="fuli_nav_pic" src="./img/fuli.jpeg" alt="" />
				<span>春节福利套餐</span>
				<p class="fuli_nav_money">￥ 88</p></li>
				<li class="fuli_nav_li"><img class="fuli_nav_pic" src="./img/fuli.jpeg" alt="" />
				<span>春节福利套餐</span>
				<p class="fuli_nav_money">￥ 88</p></li>
				<li class="fuli_nav_li"><img class="fuli_nav_pic" src="./img/fuli.jpeg" alt="" />
				<span>春节福利套餐</span>
				<p class="fuli_nav_money">￥ 88</p></li>
				<li class="fuli_nav_li"><img class="fuli_nav_pic" src="./img/fuli.jpeg" alt="" />
				<span>春节福利套餐</span>
				<p class="fuli_nav_money">￥ 88</p></li>
				<li class="fuli_nav_li"><img class="fuli_nav_pic" src="./img/fuli.jpeg" alt="" />
				<span>春节福利套餐</span>
				<p class="fuli_nav_money">￥ 88</p></li>
				<li class="fuli_nav_li"><img class="fuli_nav_pic" src="./img/fuli.jpeg" alt="" />
				<span>春节福利套餐</span>
				<p class="fuli_nav_money">￥ 88</p></li>
			</ul>
		</div>
		
	</div>
	<div class="banner1">
		<img class="banner1_image" src="./img/lunbo2.jpeg" alt="" />
	</div>
	<!--图2导航-->
	<div class="fuli_nav1">
		<div class="fuli_nav1_overflow">
			<ul class="fuli_nav1_ul">
				<li class="fuli_nav1_li"><img class="fuli_nav1_pic" src="./img/nav1pic1.jpg" alt="" />
				<span>(韩国)一腮红</span>
				<p class="fuli_nav1_money">￥ 199</p></li>
				<li class="fuli_nav1_li"><img class="fuli_nav1_pic" src="./img/nav1pic1.jpg" alt="" />
				<span>(韩国)黄瓜胶</span>
				<p class="fuli_nav1_money">￥ 88</p></li>
				<li class="fuli_nav1_li"><img class="fuli_nav1_pic" src="./img/nav1pic1.jpg" alt="" />
				<span>(韩国)芭比娃娃</span>
				<p class="fuli_nav1_money">￥ 88</p></li>
				<li class="fuli_nav1_li"><img class="fuli_nav1_pic" src="./img/nav1pic1.jpg" alt="" />
				<span>(韩国)造型美菜</span>
				<p class="fuli_nav1_money">￥ 88</p></li>
				<li class="fuli_nav1_li"><img class="fuli_nav1_pic" src="./img/nav1pic1.jpg" alt="" />
				<span>(韩国)JAYJON樱桃</span>
				<p class="fuli_nav1_money">￥ 88</p></li>
				<li class="fuli_nav1_li"><img class="fuli_nav1_pic" src="./img/nav1pic1.jpg" alt="" />
				<span>(韩国)瑞拉</span>
				<p class="fuli_nav1_money">￥ 88</p></li>						
			</ul>
		</div>
	</div>
	<!--清仓-->
	<div class="banner2">
		<img class="banner2_image" src="./img/qingcang.jpeg" alt="" />
	</div>
	<div class="fuli_nav2">
			<ul class="fuli_nav2_ul">
				<li class="fuli_nav2_li"><img class="fuli_nav2_pic" src="./img/nav1pic1.jpg" alt="" />
				<span>(韩国)一腮红</span>
				<p class="fuli_nav2_money">￥ 199</p></li>
	</div>
	<div class="banner">
		<img class="banner_image" src="./img/11111.jpeg" alt="" />
	</div>
	<div class="banner1">
		<img class="banner_image" src="./img/2222.jpeg" alt="" />
	</div>
	<div class="down"></div>
</div>
	