<div id="home01">
	<!--轮播图-->
	<div class="swiper-container">
    		<div class="swiper-wrapper">
    		    <div class="swiper-slide"><img src="./img/iphonelunbo1.jpeg" /></div>
   		     <div class="swiper-slide"><img src="./img/iphonelunbo2.jpeg" /></div>
   		     <div class="swiper-slide"><img src="./img/iphonelunbo3.jpeg" /></div>
   		     <div class="swiper-slide"><img src="./img/iphonelunbo4.jpeg" /></div>
   		</div>
    		<div class="swiper-pagination"></div>
	</div>
	<div class="head_title">
		<h3 class="title_name">Apple Iphone7 移动联通电信4g手机</h3>
	</div>
	<div class="head_money">
		<strong class="head_money_now">￥<span class="money_new">4938.00-6799.00</span></strong>
		<div class="head_money_old">市场价: <span class="money_old">5199.00-6199.00</span></div>
	</div>
	<div class="xiangqing">
		<div class="zhengpin">正品保证</div>
		<div class="baoxiu">全国保修</div>
		<div class="qitian">7天包退换</div>
	</div>
	<div class="nav">
		<ul class="nav_ul">
			<li class="nav_li">商品介绍</li>
			<li class="nav_li">参数规格</li>
		</ul>
	</div>
	<div class="content">
		<div class="content_1">
			<img class="content_1_image1" src="./img/jaige.jpg" alt="" />
			<img class="content_1_image2" src="./img/iphone7.jpg" alt="" />
		</div>
	</div>
	<div class="down"></div>
	<div class="down_buy">
		<a href="#/home"><div class="down_shouye">首页</div></a>
		<input class="cart" type="button" value="加入购物车" />
		<input class="buynow" type="button" value="立即购买" />
	</div>
</div>