

		<!--app-->
<div id="home" >	
		<!--<div >
			<div class="home_app">
				<p class="home_app_font">上客户端领专属豪礼!</p>
				<input type="button" class="home_app_but" value="立即领取"></input>
			</div>
		</div>-->
		<!--搜索栏-->
		<div class="home_header">		
				<input class="home_head_sousuolan" class="" type="text" placeholder="由你购，最想购..."/>	
		</div>
		
		<!--轮播图-->
		<div class="home_swiper">
			<img class="home_swiper_img" src="./img/pic.jpg"/>
		</div>	
		<!--分类导航-->
		<div class="home_nav">
			<ul class="home_nav_ul">
				<li class="home_nav_li1 "></li>
				<li class="home_nav_li2"></li>
				<li class="home_nav_li3"></li>
				<li class="home_nav_li4"></li>
				<li class="home_nav_li5"></li>
				<li class="home_nav_li6"></li>
				<li class="home_nav_li7"></li>
				<li class="home_nav_li8"></li>
				<li class="home_nav_li9"></li>
				<li class="home_nav_li10"></li>
			</ul>
		</div>
		<div class="home_buy">
		</div>
		<div class="home_buy_wrap">
			<ul class="home_buy_ul">
				<li class="home_buy_li1">
					<img class="home_buy_lipic1" src="./img/phone1.jpeg" />
				</li>
				<li class="home_buy_li2">
					<img class="home_buy_lipic2" src="./img/2.jpg" />
				</li>
				<li class="home_buy_li3">
					<img class="homg_buy_lipic3" src="./img/a.jpeg" />
				</li>
				<li class="home_buy_li4">
					<img class="home_buy_lipic4" src="./img/a.jpeg" />
				</li>
				<!--三个-->
				<li class="home_buy_li5" ng-repeat="item in homeCtrl.rt">
					<a ng-href="#/some/{{ item.productId }}"><img class="home_buy_lipic5" src="./img/iphone7.jpeg" /></a>
				</li>
				<!--<li class="home_buy_li6">
					<img class="home_buy_lipic5" src="./img/iphone7.jpeg" />
				</li>
				<li class="home_buy_li7">
					<img class="home_buy_lipic5" src="./img/iphone7.jpeg" />
				</li>-->
				<!--四个-->
				<li class="home_buy_li8">
					<img class="home_buy_lipic8" src="./img/fsd.jpeg" />
				</li>
				<li class="home_buy_li9">
					<img class="home_buy_lipic9" src="./img/fsd.jpeg" />
				</li>
				<li class="home_buy_li10">
					<img class="home_buy_lipic10" src="./img/fsd.jpeg" />
				</li>
				<li class="home_buy_li11">
					<img class="home_buy_lipic11" src="./img/fsd.jpeg" />
				</li>
				<!--一行两个-->
				<li class="home_buy_li12">
					<img class="home_buy_lipic12" src="./img/aa.jpeg" />
				</li>
				<li class="home_buy_li13">
					<img class="home_buy_lipic13" src="./img/aa.jpeg" />
				</li>	
			</ul>
		</div>
		<div class="home_zhutijie">
			<img class="home_zhutijiepic" src="./img/zhutijie.png" />
		</div>
		<div class="home_zhutijie_wrap">
			<ul class="home_zhutijie_ul">
				<li class="home_zhutijie_li1">
					<a>
						<img class="home_zhutijie_lipic1" src="./img/shouji.jpeg" />
					</a>
				</li>
				<li class="home_zhutijie_li2">
					<a>
						<img class="home_zhutijie_lipic2" src="./img/oba.jpeg" />
					</a>
				</li>
				<li class="home_zhutijie_li3">
					<a>
						<img class="home_zhutijie_lipic3" src="./img/oba.jpeg" />
					</a>
				</li>
				<li class="home_zhutijie_li4">
					<a>
						<img class="home_zhutijie_lipic4" src="./img/xinren.jpeg" />
					</a>
					<a>
						<img class="home_zhutijie_lipic4_1" src="./img/tup.jpeg" />
					</a>
				</li>
			</ul>
		</div>
		<div class="home_down"></div>
</div>	
		
