<div id="mine">
		<div>
			<div class="mine_app">
				<p class="mine_app_font">上客户端领专属豪礼!</p>
				<input class="mine_app_but" type="button"  value="立即领取"></input>
			</div>
		</div>
		<div class="mine_header">
			<div class="mine_head_img"></div>
			<div class="mine_head_id">
				<h3>个人信息</h3>
				<ul class="mine_head_id_ul">
					<li class= "mine_head_id_li" >积分：0</li>
					<li class= "mine_head_id_li" >声望：0</li>
				</ul>
			</div>
		</div>
		<!--我的订单-->
		<div class="my_cart">
			<div class="my_cart_dingdan">
				<h3>我的订单</h3>
			</div>
			<ul class="my_cart_content">
				<a class="my_cart_a" href="#"><li class="my_cart_li">待付款</li></a>
				<a class="my_cart_a" href="#"><li class="my_cart_li">待发货</li></a>
				<a class="my_cart_a" href="#"><li class="my_cart_li">待收货</li></a>
				<a class="my_cart_a" href="#"><li class="my_cart_li">售后</li></a>
			</ul>
		</div>
</div>